.floatingdev
{
      justify-content: space-around;
      display: flex;
      background: white;
      box-shadow: var(--boxShadow);
      border-radius: 17px;
      align-items: center;
      height: 4.5 rem;
      padding: 0px 28px 0px 0px;
      
}
.floatingdev>img{
      transform: scale(0.4);
}
.floatingdev>span
{
      font-family: sans-serif;
      font-size: 16px;
}
.blur
{
      position: absolute;
      height: 14rem;
      width: 22rem;
      filter: blur(72px);
      z-index: -9;
      border-radius: 50%;
      background: #edd0ff;
      top:-18%;
      left:56%;
}