.footer
{
      display:flex;
      align-items: center;
      margin: -0.5rem -3.5rem;
      position: relative;
      margin-top: -7rem;
}
.f-content
{
      position: absolute;
      align-items: center;
      justify-content: center;
      display:flex;
      flex-direction: column;
      width: 100%;
      color: white;
      gap:2rem;
      margin-top:2rem;
} 
.f-content>span{
      font-weight: bold;
      font-size:2rem;
}
.f-icons
{
      gap:2rem;
      border: 1px solid balck;
}
.f-icons svg
{
    
      margin: 20px;
       font-size: 50px;
       cursor: pointer;
}